p {
    text-align: center;
    color: #00ff40;
    font-size: 15px;
}
P {   
     text-align: start;
color: chartreuse;
    font-size: 20px;
}

.nav {
    list-style: none;
    display: flex;
    width: 1000px;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.nav li {
    padding: 10px 20px;
}
.nav li a {
    color: white;
    text-decoration: none;
}

.nav li a:hover {
    color: #eee;
}
